*.iml
.DS_Store
.idea
.tmp
target
.project
.classpath
.settings
*.log
journal
*.log

tpid
.sonar
*.csv
*.keystore
*.cvs
*.zip

.vscode/
*.ipr
*.iws
README--.md
.idea/misc.xml
app/app.iml
ext/mysqltmp
logs
